html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

/*Color of the navbar and font*/
nav a{
background-color:rgba(0, 51, 102, 0.95)!important;
color:white !important;
}
/*Background color of entire website*/
body{
background: linear-gradient(rgba(0, 21.6, 42.4), rgba(0, 21.6, 42.4)), url(http://hs.nbpschools.net/images/white_wave.jpg);
}

/*Background color of the the content behind the cards*/
#content{
background-color: white;
}

#plans{
text-align:center;
}

/*Background color of the Cards*/
.w3-card-4{
background-color:white;
}

/*Background color behind the slideshow caption*/
#caption{
background-color: rgba(0, 51, 102, 0.95)!important;
text-align:center;
}

/*Frame around the slides*/
.mySlides{
border: 2em rgba(0, 51, 102, 0.95) solid;
}

#about{
margin-bottom:2em;
}

/*Underline of the page title*/
.w3-border-dark-grey{
border-color:rgba(0, 51, 102, 0.95)!important;
}

/*Background color for the slideshow caption, contact send button and the Why Vote Boxes 1 & 3*/
.w3-blue-grey{
background-color:rgba(0, 51, 102, 0.95)!important;
}

/*Background color of Why Vote Boxes 2 & 3*/
.w3-blue{
background-color:#00488D !important;
}